<div class="user-list__loading"
  *ngIf="isLoading">
  Hold on a tick. The users are loading up...
</div>

<div class="user-list__error"
  *ngIf="isError">
  Oh, my. Something is off. Don't panic... yet.
</div>

<table class="user-list__container"
  *ngIf="isComplete && !isEmpty">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" >
      <td>
        <a [routerLink]="[user.id]">{{ user.name }}</a>
      </td>
      <td>
        {{ user.username }}
      </td>
      <td>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      </td>
      <td>
        <address>
          {{ user.address.street }}<br>
          {{ user.address.city }}, {{ user.address.zipcode }}
        </address>
      </td>
    </tr>
  </tbody>
</table>
